body {
  background-color: rgb(164, 161, 161);
}

.to-do-list {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: cursive;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: black;
}

.contact {
  text-align: center;
  font-family: cursive;
  font-size: 4rem;
  color: rgb(124, 67, 148);
}

.mb-3 {
  font-family: cursive;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: rgb(255, 255, 0);
  margin-left: 10px;
}

.delete-button {
  background-color: rgb(0, 225, 255);
}

.complete-button {
  background-color: rgb(70, 241, 70);
}

.delete-button, .complete-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(196, 3, 196);
  border-radius: 5px;
  color: rgb(84, 3, 103);
  margin-bottom: 20px;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(243, 222, 252);
  margin-bottom: 10px;
  border: 3px solid rgb(5, 0, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.router {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background-color: rgb(243, 222, 252);
  padding: 7px;
}
